@import url("../../theme.css");

.chatBubble {
    background-color: var(--background-elevated-color);
    border-radius: var(--default-border-radius);
    padding: var(--default-padding);

    animation: appearLeft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;

    box-shadow: var(--default-box-shadow);

    margin: 1em 0;
    max-width: 70%;
}

.left {
    border-bottom-left-radius: 0;
}

.right {
    align-self: flex-end;
    border-bottom-right-radius: 0;

    animation-name: appearRight;
}

.content, .information {
    font-weight: lighter;
}

.information {
    font-size: x-small;
    color: var(--foreground-light-color);
}

@keyframes appearLeft {
    from {
        opacity: 0;
        scale: 0.5;
        transform: translateX(-15em);
    }
    to {
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
}

@keyframes appearRight {
    from {
        opacity: 0;
        scale: 0.5;
        transform: translateX(15em);
    }
    to {
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
}