@import url("/src/theme.css");

.chatBubble {
    background-color: var(--background-elevated-color);
    border-radius: var(--default-border-radius);
    padding: var(--default-padding);

    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;

    box-shadow: 5px 5px 10px #00000035;

    margin: 1em 0;
    max-width: 70%;
}

.content, .timestamp {
    font-weight: lighter;
}

.timestamp {
    font-size: x-small;
    color: var(--foreground-light-color);
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
        transform: translateX(-5em);
    }
    to {
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
}