@import url("../../theme.css");

.chatOverview {
    padding: var(--default-padding);
    margin-top: 1em;
    background-color: #00000033;
    border-radius: var(--default-border-radius);
}

.newChat {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.chatOverview {
    padding: var(--default-padding);
}

.chatList {
    color: var(--secondary-color);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
}

@media screen and (min-width: 512px) {
    .newChat {
        flex-flow: row nowrap;
    }

    .newChat:last-child {
        flex: 0.5;
    }

    .chatList {
        flex-flow: row nowrap;
        overflow-x: auto;
    }
}