@import url("../../theme.css");

.messageComposer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: end;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    padding: var(--default-padding);

    z-index: 95;
}

.messageComposer > * {
    margin: 1em;
}