@import url("../../theme.css");

.messageComposer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    padding: var(--default-padding);
    padding-bottom: 2em;

    z-index: 95;
}

@media screen and (min-width: 512px) {
    .messageComposer {
        flex-flow: row nowrap;
    }

    .messageComposer > * {
        margin: 1em 0;
    }
}