@import url("../../../theme.css");

.styledInput {
    color: var(--input-primary-color);
    background-color: var(--input-secondary-color);

    padding: var(--default-padding);
    
    border-radius: 2em;
    border: none;
    transition: 0.3s;

    width: 100%;
    margin: 0;
}

.styledInput:hover {
    filter: var(--default-hover-filter);
    box-shadow: var(--box-hover-shadow);
}