:root {
    --foreground-color: #f2eeff;
    --foreground-light-color: #34608c;
    --background-color: #001f3f;
    --background-elevated-color: #0a2e53;
    --primary-color: #001f3f;
    --secondary-color: #d0d0d0;

    --default-border: 2px solid currentColor;

    --default-border-radius: 1em;
    --default-padding: 1em 2em;

    --default-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground-color: #001f3f;
        --foreground-light-color: #6887a5;
        --background-color: #fff;
        --background-elevated-color: #ecf5ff;
        --primary-color: #ddddf7;
        --secondary-color: #003d7a;
    }
}
